<h1>Hello, world!</h1>
<p>Welcome to your new single-page application, built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
<b><p>Please Click on Customer to proceed with the CRUD demo...!</p></b>

<p>Key Highlights</p>

<ul>
  <li>Performed Add/Edit/Delete on Customers</li>
  <li>Added Validations as required</li>
  <li>Added Loader on Home Page </li>
  <li>Currency formatter Added</li>
  <li>Mail To link added for email</li>
</ul>

<p>Future Scope</p>

<ul>
  <li>Paging can be added</li>
</ul>

